# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
tmp/
dist/
build/
.DS_Store

# Database files
*.sqlite
*.sqlite-journal
/data/db/
dump.rdb

# Cloudinary uploads (if storing locally before upload)
uploads/

# OS-specific files
Thumbs.db
.idea/
.vscode/
